In [1]:
import pandas as pd
from datetime import datetime
import numpy as np
from sklearn import preprocessing
from collections import Counter

# from tabulate import tabulate

ICU_FOLDER = "/Users/mai/physionet.org/files/mimiciv/2.0/icu/"
HOSP_FOLDER = "/Users/mai/physionet.org/files/mimiciv/2.0/hosp/"

ROOT_PATH = "/Users/mai/Projects/GitHub/Temporal-MedBERT/"

## MedBERT Pretraining Preparation

In [2]:
patients = pd.read_csv(HOSP_FOLDER + "patients.csv.gz", compression="gzip")
print(patients.shape)
patients.head(5)

(315460, 6)

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10000032      F          52         2180       2014 - 2016  2180-09-09
1    10000048      F          23         2126       2008 - 2010         NaN
2    10000068      F          19         2160       2008 - 2010         NaN
3    10000084      M          72         2160       2017 - 2019  2161-02-13
4    10000102      F          27         2136       2008 - 2010         NaN

In [3]:
admissions = pd.read_csv(
    HOSP_FOLDER + "admissions.csv.gz",
    compression="gzip",
    parse_dates=["admittime", "dischtime"],
)
print(admissions.shape)
admissions.head(5)

(454324, 15)

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,EMERGENCY ROOM,HOSPICE,Medicaid,ENGLISH,WIDOWED,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,EMERGENCY ROOM,NaN,Other,ENGLISH,SINGLE,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0

In [4]:
admissions["admittime"] = pd.to_datetime(admissions["admittime"]).dt.date
admissions["dischtime"] = pd.to_datetime(admissions["dischtime"]).dt.date
admissions = admissions[["subject_id", "hadm_id", "admittime", "dischtime"]]
admissions.head(5)

   subject_id   hadm_id   admittime   dischtime
0    10000032  22595853  2180-05-06  2180-05-07
1    10000032  22841357  2180-06-26  2180-06-27
2    10000032  25742920  2180-08-05  2180-08-07
3    10000032  29079034  2180-07-23  2180-07-25
4    10000068  25022803  2160-03-03  2160-03-04

In [5]:
diagnosis = pd.read_csv(HOSP_FOLDER + "diagnoses_icd.csv.gz", compression="gzip")
diagnosis.head(5)
print(len(np.unique(diagnosis["subject_id"])))

190179

In [6]:
np.unique(diagnosis["seq_num"])

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39])

In [7]:
diagnosis["diagnosis"] = (
    "ICD"
    + diagnosis["icd_version"].astype(str)
    + "_"
    + diagnosis["icd_code"].astype(str)
)
diagnosis = diagnosis.drop(columns=["icd_code", "icd_version"])
diagnosis.head(5)

   subject_id   hadm_id  seq_num   diagnosis
0    10000032  22595853        1   ICD9_5723
1    10000032  22595853        2  ICD9_78959
2    10000032  22595853        3   ICD9_5715
3    10000032  22595853        4  ICD9_07070
4    10000032  22595853        5    ICD9_496

In [8]:
procedures = pd.read_csv(HOSP_FOLDER + "procedures_icd.csv.gz", compression="gzip")
procedures.head()

   subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
0    10000032  22595853        1  2180-05-07     5491            9
1    10000032  22841357        1  2180-06-27     5491            9
2    10000032  25742920        1  2180-08-06     5491            9
3    10000068  25022803        1  2160-03-03     8938            9
4    10000117  27988844        1  2183-09-19  0QS734Z           10

In [9]:
procedure_number = []
for i in range(procedures.shape[0]):
    procedure_number.append(
        (procedures.hadm_id.values == procedures.loc[i, "hadm_id"]).sum()
    )

procedures["num_prod"] = procedure_number
print("Maximum number of procedures:", max(procedure_number))
print("Minimum number of procedures:", min(procedure_number))

Maximum number of procedures: 41
Minimum number of procedures: 1

In [10]:
procedures = procedures.drop(
    columns=["seq_num", "chartdate", "icd_code", "icd_version"]
)
procedures.head(5)

   subject_id   hadm_id  num_prod
0    10000032  22595853         1
1    10000032  22841357         1
2    10000032  25742920         1
3    10000068  25022803         1
4    10000117  27988844         1

In [11]:
print("admissions size", admissions.shape)
print("diagnosis size:", diagnosis.shape)
print("procedures size", procedures.shape)

admissions size (454324, 4)
diagnosis size: (5006884, 4)
procedures size (704124, 3)

In [12]:
trial_1 = pd.merge(admissions, diagnosis, on=["subject_id", "hadm_id"], how="right")
trial_1

         subject_id   hadm_id   admittime   dischtime  seq_num   diagnosis
0          10000032  22595853  2180-05-06  2180-05-07        1   ICD9_5723
1          10000032  22595853  2180-05-06  2180-05-07        2  ICD9_78959
2          10000032  22595853  2180-05-06  2180-05-07        3   ICD9_5715
3          10000032  22595853  2180-05-06  2180-05-07        4  ICD9_07070
4          10000032  22595853  2180-05-06  2180-05-07        5    ICD9_496
...             ...       ...         ...         ...      ...         ...
5006879    19999987  23865745  2145-11-02  2145-11-11        7  ICD9_41401
5006880    19999987  23865745  2145-11-02  2145-11-11        8  ICD9_78039
5006881    19999987  23865745  2145-11-02  2145-11-11        9   ICD9_0413
5006882    19999987  23865745  2145-11-02  2145-11-11       10  ICD9_36846
5006883    19999987  23865745  2145-11-02  2145-11-11       11   ICD9_7810

[5006884 rows x 6 columns]

In [13]:
trial_2 = pd.merge(trial_1, procedures, on=["subject_id", "hadm_id"], how="inner")
trial_2

,subject_id,hadm_id,admittime,dischtime,seq_num,diagnosis,num_prod
0,10000032,22595853,2180-05-06,2180-05-07,1,ICD9_5723,1
1,10000032,22595853,2180-05-06,2180-05-07,2,ICD9_78959,1
2,10000032,22595853,2180-05-06,2180-05-07,3,ICD9_5715,1
3,10000032,22595853,2180-05-06,2180-05-07,4,ICD9_07070,1
4,10000032,22595853,2180-05-06,2180-05-07,5,ICD9_496,1
...,...,...,...,...,...,...,...
10241876,19999987,23865745,2145-11-02,2145-11-11,9,ICD9_0413,2
10241877,19999987,23865745,2145-11-02,2145-11-11,10,ICD9_36846,2
10241878,19999987,23865745,2145-11-02,2145-11-11,10,ICD9_36846,2
10241879,19999987,23865745,2145-11-02,2145-11-11,11,ICD9_7810,2
10241880,19999987,23865745,2145-11-02,2145-11-11,11,ICD9_7810,2

In [14]:
cols = ["subject_id", "admittime", "dischtime",
        "diagnosis", "seq_num", "num_prod"]
data = trial_2[cols]

In [15]:
data

          subject_id   admittime   dischtime   diagnosis  seq_num  num_prod
0           10000032  2180-05-06  2180-05-07   ICD9_5723        1         1
1           10000032  2180-05-06  2180-05-07  ICD9_78959        2         1
2           10000032  2180-05-06  2180-05-07   ICD9_5715        3         1
3           10000032  2180-05-06  2180-05-07  ICD9_07070        4         1
4           10000032  2180-05-06  2180-05-07    ICD9_496        5         1
...              ...         ...         ...         ...      ...       ...
10241876    19999987  2145-11-02  2145-11-11   ICD9_0413        9         2
10241877    19999987  2145-11-02  2145-11-11  ICD9_36846       10         2
10241878    19999987  2145-11-02  2145-11-11  ICD9_36846       10         2
10241879    19999987  2145-11-02  2145-11-11   ICD9_7810       11         2
10241880    19999987  2145-11-02  2145-11-11   ICD9_7810       11         2

[10241881 rows x 6 columns]

In [16]:
# df.to_csv("Data_MedBert.csv", sep="\t", index=False)

In [17]:
# data = pd.read_csv("Data_MedBert.csv", sep="\t")
# data.head(5)

In [18]:
len(np.unique(data["subject_id"]))

128256

In [19]:
remove_dup_ad = data.drop_duplicates(["subject_id", "admittime"])
remove_dup_ad.head(5)

    subject_id   admittime   dischtime      diagnosis  seq_num  num_prod
0     10000032  2180-05-06  2180-05-07      ICD9_5723        1         1
8     10000032  2180-06-26  2180-06-27     ICD9_07071        1         1
16    10000032  2180-08-05  2180-08-07     ICD9_07054        1         1
26    10000068  2160-03-03  2160-03-04     ICD9_30500        1         1
27    10000117  2183-09-18  2183-09-21  ICD10_S72012A        1         1

In [20]:
x = Counter(remove_dup_ad["subject_id"])
x.most_common()

[(13475033, 70),
 (11296936, 66),
 (12251785, 64),
 (12596559, 64),
 (11761621, 52),
 (17200404, 49),
 (17716210, 49),
 (18553055, 49),
 (10827966, 48),
 (13297743, 48),
 (18965447, 48),
 (18376342, 47),
 (10998537, 45),
 (17477304, 45),
 (18520744, 45),
 (18194969, 44),
 (10123949, 43),
 (11826927, 42),
 (11965254, 42),
 (12468016, 41),
 (12985376, 41),
 (17937834, 41),
 (18358138, 40),
 (15884728, 38),
 (15942934, 38),
 (12324099, 37),
 (13251065, 37),
 (15464144, 37),
 (16339049, 37),
 (12406461, 36),
 (15987325, 36),
 (17340686, 36),
 (18655830, 36),
 (18676703, 36),
 (15197756, 35),
 (17517983, 34),
 (11281568, 33),
 (12547294, 33),
 (14061397, 33),
 (14464902, 33),
 (18207287, 33),
 (12882985, 32),
 (13813803, 32),
 (15179083, 32),
 (18284271, 32),
 (19093092, 32),
 (10213338, 31),
 (13273041, 31),
 (13470788, 31),
 (14345906, 31),
 (14841168, 31),
 (15455517, 31),
 (15783916, 31),
 (16439884, 31),
 (11236474, 30),
 (16073325, 30),
 (16909817, 30),
 (17295976, 30),
 (11786671, 29),
 (11865363, 29),
 (12929740, 29),
 (14496767, 29),
 (10259270, 28),
 (10913302, 28),
 (12018901, 28),
 (14111050, 28),
 (14744884, 28),
 (14806715, 28),
 (15114531, 28),
 (16249949, 28),
 (17797252, 28),
 (10569306, 27),
 (10620077, 27),
 (13198542, 27),
 (13648633, 27),
 (14236258, 27),
 (14993854, 27),
 (15259244, 27),
 (15426345, 27),
 (18131667, 27),
 (19538920, 27),
 (10901772, 26),
 (11355855, 26),
 (12043836, 26),
 (16426569, 26),
 (16508811, 26),
 (16921793, 26),
 (17365748, 26),
 (18230098, 26),
 (18549459, 26),
 (18824198, 26),
 (19061282, 26),
 (12101085, 25),
 (13595646, 25),
 (15541773, 25),
 (15567127, 25),
 (15863154, 25),
 (17696123, 25),
 (17824897, 25),
 (19143018, 25),
 (19509298, 25),
 (19530208, 25),
 (19759491, 25),
 (10577647, 24),
 (10599327, 24),
 (12786944, 24),
 (13561687, 24),
 (13718173, 24),
 (13777050, 24),
 (14033331, 24),
 (14214341, 24),
 (15107347, 24),
 (15622498, 24),
 (16751019, 24),
 (16969063, 24),
 (17194276, 24),
 (10882916, 23),
 (12044530, 23),
 (12246674, 23),
 (12477559, 23),
 (12563258, 23),
 (12977306, 23),
 (13659261, 23),
 (13752677, 23),
 (13872997, 23),
 (14689985, 23),
 (15666511, 23),
 (16663465, 23),
 (16785883, 23),
 (17890530, 23),
 (19625808, 23),
 (19855099, 23),
 (10378079, 22),
 (10714009, 22),
 (11964399, 22),
 (12453404, 22),
 (13325402, 22),
 (13922124, 22),
 (14437309, 22),
 (14546527, 22),
 (14866589, 22),
 (15738526, 22),
 (15863802, 22),
 (16428221, 22),
 (17585185, 22),
 (18301731, 22),
 (18307935, 22),
 (18902344, 22),
 (19133405, 22),
 (19231238, 22),
 (19265652, 22),
 (10073847, 21),
 (10149179, 21),
 (10439781, 21),
 (10516278, 21),
 (11619087, 21),
 (12152630, 21),
 (12465184, 21),
 (12749568, 21),
 (12757934, 21),
 (12905985, 21),
 (13317579, 21),
 (13655596, 21),
 (13869491, 21),
 (14021217, 21),
 (14318651, 21),
 (14337110, 21),
 (14420248, 21),
 (14997223, 21),
 (15080981, 21),
 (15765403, 21),
 (17006856, 21),
 (17275231, 21),
 (17513748, 21),
 (17690782, 21),
 (17873707, 21),
 (17894020, 21),
 (18622600, 21),
 (19371972, 21),
 (19523301, 21),
 (19605487, 21),
 (10122346, 20),
 (11818101, 20),
 (11869721, 20),
 (11885477, 20),
 (11905585, 20),
 (12481952, 20),
 (13505226, 20),
 (13940306, 20),
 (14371035, 20),
 (14711950, 20),
 (14873669, 20),
 (15447207, 20),
 (16433404, 20),
 (16907944, 20),
 (16976054, 20),
 (17055995, 20),
 (17389256, 20),
 (17399295, 20),
 (17572570, 20),
 (18232489, 20),
 (18253112, 20),
 (18524648, 20),
 (18567594, 20),
 (18569328, 20),
 (19397036, 20),
 (19918694, 20),
 (10900387, 19),
 (11106524, 19),
 (11192662, 19),
 (11303674, 19),
 (11922120, 19),
 (11929374, 19),
 (11938874, 19),
 (11967908, 19),
 (12101039, 19),
 (12294892, 19),
 (12501269, 19),
 (12648465, 19),
 (12950657, 19),
 (12982754, 19),
 (13110574, 19),
 (13158454, 19),
 (13672788, 19),
 (13680570, 19),
 (14728956, 19),
 (15231087, 19),
 (15353006, 19),
 (15539740, 19),
 (15573773, 19),
 (16253408, 19),
 (16662316, 19),
 (16753833, 19),
 (17071231, 19),
 (17878731, 19),
 (17936886, 19),
 (18046197, 19),
 (18618162, 19),
 (18618203, 19),
 (18656167, 19),
 (18874187, 19),
 (19067090, 19),
 (19471295, 19),
 (19992875, 19),
 (10464640, 18),
 (11533366, 18),
 (11577197, 18),
 (11666315, 18),
 (11890447, 18),
 (12232510, 18),
 (13071041, 18),
 (13157621, 18),
 (13162333, 18),
 (13188963, 18),
 (13452052, 18),
 (13473495, 18),
 (13903530, 18),
 (14047385, 18),
 (14121516, 18),
 (14259778, 18),
 (14361828, 18),
 (14391494, 18),
 (14634306, 18),
 (14876256, 18),
 (14975184, 18),
 (15064183, 18),
 (15439881, 18),
 (15606157, 18),
 (16036071, 18),
 (16290929, 18),
 (16538698, 18),
 (16553329, 18),
 (16579495, 18),
 (16833478, 18),
 (16934035, 18),
 (17128602, 18),
 (17155701, 18),
 (17601166, 18),
 (17639480, 18),
 (17882272, 18),
 (17954271, 18),
 (17972374, 18),
 (18018996, 18),
 (18081075, 18),
 (18336565, 18),
 (19281042, 18),
 (19451054, 18),
 (19454978, 18),
 (19565653, 18),
 (19598699, 18),
 (19713100, 18),
 (19889694, 18),
 (19907884, 18),
 (10287348, 17),
 (10476869, 17),
 (10548962, 17),
 (10781468, 17),
 (10933609, 17),
 (10981725, 17),
 (11144686, 17),
 (11235666, 17),
 (11487040, 17),
 (11658675, 17),
 (11681682, 17),
 (12103390, 17),
 (12333937, 17),
 (12716528, 17),
 (12768720, 17),
 (13051530, 17),
 (13278241, 17),
 (13334761, 17),
 (13624277, 17),
 (13835105, 17),
 (14120635, 17),
 (14202902, 17),
 (14276778, 17),
 (14322005, 17),
 (14422845, 17),
 (14475001, 17),
 (14922593, 17),
 (15131736, 17),
 (15156831, 17),
 (15297415, 17),
 (15339505, 17),
 (15368407, 17),
 (15382588, 17),
 (15716610, 17),
 (15864569, 17),
 (16114976, 17),
 (16454913, 17),
 (16615356, 17),
 (16741854, 17),
 (16888112, 17),
 (16901707, 17),
 (16982710, 17),
 (17072793, 17),
 (17355488, 17),
 (17460070, 17),
 (18003419, 17),
 (18102308, 17),
 (18111516, 17),
 (18172623, 17),
 (18618339, 17),
 (18653563, 17),
 (18881392, 17),
 (19237156, 17),
 (19644467, 17),
 (19999784, 17),
 (10627650, 16),
 (10724345, 16),
 (10898945, 16),
 (11288058, 16),
 (11365932, 16),
 (11375664, 16),
 (11441519, 16),
 (11560612, 16),
 (11626997, 16),
 (12189285, 16),
 (12233085, 16),
 (12330994, 16),
 (12485084, 16),
 (12606543, 16),
 (13166511, 16),
 (13258755, 16),
 (13269859, 16),
 (13297424, 16),
 (13312176, 16),
 (13398773, 16),
 (13896515, 16),
 (13999829, 16),
 (14003206, 16),
 (14025287, 16),
 (14110132, 16),
 (14240807, 16),
 (14261584, 16),
 (14342692, 16),
 (14456616, 16),
 (14486199, 16),
 (14825995, 16),
 (14976423, 16),
 (15012885, 16),
 (15020653, 16),
 (15115062, 16),
 (15245907, 16),
 (15349002, 16),
 (15353133, 16),
 (15952397, 16),
 (16059753, 16),
 (16124481, 16),
 (16257560, 16),
 (16293344, 16),
 (16417863, 16),
 (16544722, 16),
 (16773497, 16),
 (17078498, 16),
 (17155697, 16),
 (17205768, 16),
 (17229258, 16),
 (17424221, 16),
 (17434499, 16),
 (17602942, 16),
 (17710401, 16),
 (17718683, 16),
 (18049473, 16),
 (18052788, 16),
 (18143678, 16),
 (18303329, 16),
 (18367623, 16),
 (18394695, 16),
 (18513809, 16),
 (18553859, 16),
 (18589167, 16),
 (18864963, 16),
 (18949819, 16),
 (18970086, 16),
 (18991040, 16),
 (19122474, 16),
 (19585869, 16),
 (19612461, 16),
 (19688142, 16),
 (10225793, 15),
 (10270108, 15),
 (10488182, 15),
 (10580201, 15),
 (10858147, 15),
 (11055094, 15),
 (11067197, 15),
 (11194776, 15),
 (11567253, 15),
 (11722906, 15),
 (11875773, 15),
 (11880923, 15),
 (11968004, 15),
 (12024744, 15),
 (12032671, 15),
 (12165269, 15),
 (12426774, 15),
 (12499519, 15),
 (12687294, 15),
 (12781299, 15),
 (12862888, 15),
 (12994357, 15),
 (13047942, 15),
 (13192224, 15),
 (13295132, 15),
 (13420572, 15),
 (13474913, 15),
 (13505524, 15),
 (13593993, 15),
 (13658097, 15),
 (13834529, 15),
 (13835573, 15),
 (13924578, 15),
 (14020151, 15),
 (14187451, 15),
 (14412499, 15),
 (14427347, 15),
 (14556809, 15),
 (14766138, 15),
 (14800294, 15),
 (14867101, 15),
 (15118488, 15),
 (15211758, 15),
 (15272445, 15),
 (15285738, 15),
 (15368959, 15),
 (15449221, 15),
 (15885593, 15),
 (16052230, 15),
 (16070047, 15),
 (16074663, 15),
 (16123839, 15),
 (16238625, 15),
 (16560392, 15),
 (16809525, 15),
 (16949991, 15),
 (16988043, 15),
 (17290113, 15),
 (17656727, 15),
 (17819993, 15),
 (17887429, 15),
 (17905508, 15),
 (17924051, 15),
 (18001923, 15),
 (18136887, 15),
 (18259094, 15),
 (18344237, 15),
 (18573443, 15),
 (18621427, 15),
 (18764644, 15),
 (18767957, 15),
 (18786508, 15),
 (18935074, 15),
 (18969313, 15),
 (19020074, 15),
 (19068326, 15),
 (19075045, 15),
 (19407881, 15),
 (19592830, 15),
 (19797687, 15),
 (19906407, 15),
 (10014610, 14),
 (10098215, 14),
 (10277119, 14),
 (10486853, 14),
 (10670085, 14),
 (10670364, 14),
 (10681986, 14),
 (10688510, 14),
 (10808282, 14),
 (10965508, 14),
 (11004450, 14),
 (11016479, 14),
 (11084285, 14),
 (11084812, 14),
 (11276090, 14),
 (11282384, 14),
 (11372027, 14),
 (11449283, 14),
 (11459120, 14),
 (11517422, 14),
 (11538096, 14),
 (11542052, 14),
 (11581456, 14),
 (11887646, 14),
 (11900721, 14),
 (12007537, 14),
 (12067437, 14),
 (12090944, 14),
 (12195939, 14),
 (12199669, 14),
 (12315463, 14),
 (12379369, 14),
 (12426368, 14),
 (12445879, 14),
 (12538793, 14),
 (12557139, 14),
 (12611156, 14),
 (12621822, 14),
 (12660864, 14),
 (12827707, 14),
 (12877260, 14),
 (12877713, 14),
 (12938377, 14),
 (12962225, 14),
 (13243522, 14),
 (13262421, 14),
 (13294123, 14),
 (13421525, 14),
 (13438658, 14),
 (13507926, 14),
 (13689402, 14),
 (13693197, 14),
 (13833101, 14),
 (13922987, 14),
 (14066425, 14),
 (14074170, 14),
 (14130048, 14),
 (14412677, 14),
 (14719866, 14),
 (14742957, 14),
 (14789588, 14),
 (14835486, 14),
 (14838424, 14),
 (14851532, 14),
 (14934088, 14),
 (15114658, 14),
 (15199994, 14),
 (15221724, 14),
 (15295867, 14),
 (15311382, 14),
 (15340425, 14),
 (15426182, 14),
 (15726871, 14),
 (15727523, 14),
 (15790142, 14),
 (15958024, 14),
 (16191519, 14),
 (16275349, 14),
 (16295064, 14),
 (16528873, 14),
 (16705931, 14),
 (16825279, 14),
 (17011846, 14),
 (17078371, 14),
 (17170624, 14),
 (17344044, 14),
 (17345538, 14),
 (17420936, 14),
 (17464078, 14),
 (17555214, 14),
 (17620129, 14),
 (17693798, 14),
 (17767787, 14),
 (17840764, 14),
 (17977561, 14),
 (18003081, 14),
 (18041121, 14),
 (18071312, 14),
 (18120578, 14),
 (18387406, 14),
 (18436961, 14),
 (18533644, 14),
 (18763864, 14),
 (18887130, 14),
 (18892635, 14),
 (18965721, 14),
 (19538400, 14),
 (19660235, 14),
 (19683695, 14),
 (19692527, 14),
 (19824335, 14),
 (10070928, 13),
 (10152414, 13),
 (10157674, 13),
 (10234917, 13),
 (10303080, 13),
 (10311237, 13),
 (10318991, 13),
 (10342727, 13),
 (10347477, 13),
 (10370141, 13),
 (10386925, 13),
 (10661237, 13),
 (10836215, 13),
 (10947245, 13),
 (11032063, 13),
 (11120430, 13),
 (11293517, 13),
 (11307058, 13),
 (11382484, 13),
 (11413236, 13),
 (11494804, 13),
 (11532808, 13),
 (11572757, 13),
 (11577001, 13),
 (11644977, 13),
 (11648170, 13),
 (11648387, 13),
 (11649876, 13),
 (11655031, 13),
 (11938332, 13),
 (11971405, 13),
 (12046588, 13),
 (12067194, 13),
 (12144619, 13),
 (12151259, 13),
 (12156452, 13),
 (12214410, 13),
 (12268481, 13),
 (12362431, 13),
 (12385889, 13),
 (12478631, 13),
 (12502618, 13),
 (12603327, 13),
 (12612603, 13),
 (12645334, 13),
 (12668827, 13),
 (12724735, 13),
 (12754657, 13),
 (12867690, 13),
 (13063188, 13),
 (13094848, 13),
 (13094918, 13),
 (13103745, 13),
 (13148548, 13),
 (13171410, 13),
 (13423617, 13),
 (13536330, 13),
 (13620446, 13),
 (13650860, 13),
 (13958446, 13),
 (13976907, 13),
 (14454179, 13),
 (14497007, 13),
 (14567773, 13),
 (14588689, 13),
 (14679785, 13),
 (14725980, 13),
 (14781801, 13),
 (14873487, 13),
 (14877188, 13),
 (14937610, 13),
 (14951077, 13),
 (15000393, 13),
 (15126168, 13),
 (15185501, 13),
 (15229574, 13),
 (15244957, 13),
 (15339388, 13),
 (15393401, 13),
 (15394326, 13),
 (15514336, 13),
 (15528228, 13),
 (15593032, 13),
 (15606858, 13),
 (15682814, 13),
 (15689762, 13),
 (15857729, 13),
 (15934572, 13),
 (16045569, 13),
 (16164133, 13),
 (16229235, 13),
 (16412832, 13),
 (16435402, 13),
 (16448664, 13),
 (16587377, 13),
 (16635089, 13),
 (16742247, 13),
 (16804204, 13),
 (16981397, 13),
 (16993562, 13),
 (17148302, 13),
 (17288913, 13),
 (17396354, 13),
 (17400716, 13),
 (17466107, 13),
 (17653099, 13),
 (17724257, 13),
 (17745354, 13),
 (17826023, 13),
 (17862236, 13),
 (17916384, 13),
 (17967297, 13),
 (17969446, 13),
 (18066180, 13),
 (18112598, 13),
 (18507022, 13),
 (18527418, 13),
 (18530386, 13),
 (18552025, 13),
 (18600028, 13),
 (18638427, 13),
 (18662708, 13),
 (18715578, 13),
 (18719447, 13),
 (18730402, 13),
 (18817034, 13),
 (18991843, 13),
 (19101100, 13),
 (19249586, 13),
 (19398915, 13),
 (19438264, 13),
 (19511048, 13),
 (19667522, 13),
 (19711171, 13),
 (19711702, 13),
 (19735459, 13),
 (19812504, 13),
 (19882137, 13),
 (10039302, 12),
 (10056223, 12),
 (10074556, 12),
 (10105017, 12),
 (10146602, 12),
 (10172708, 12),
 (10263098, 12),
 (10340309, 12),
 (10417172, 12),
 (10439110, 12),
 (10474653, 12),
 (10494089, 12),
 (10502016, 12),
 (10518993, 12),
 (10611631, 12),
 (10623984, 12),
 (10636786, 12),
 (10692563, 12),
 (10723086, 12),
 (10746056, 12),
 (10805461, 12),
 (11050359, 12),
 (11075331, 12),
 (11129702, 12),
 (11168491, 12),
 (11219861, 12),
 (11230452, 12),
 (11255297, 12),
 (11292424, 12),
 (11313865, 12),
 (11373077, 12),
 (11442840, 12),
 (11495932, 12),
 (11518807, 12),
 (11576109, 12),
 (11582633, 12),
 (11629754, 12),
 (11681918, 12),
 (11764015, 12),
 (12018683, 12),
 (12102463, 12),
 (12133266, 12),
 (12143713, 12),
 (12183714, 12),
 (12188288, 12),
 (12305504, 12),
 (12340885, 12),
 (12384056, 12),
 (12440965, 12),
 (12465457, 12),
 (12583320, 12),
 (12585131, 12),
 (12662773, 12),
 (12691447, 12),
 (12720305, 12),
 (12749902, 12),
 (12763462, 12),
 (12990431, 12),
 (13014961, 12),
 (13035993, 12),
 (13040343, 12),
 (13045799, 12),
 (13104273, 12),
 (13175313, 12),
 (13219116, 12),
 (13257855, 12),
 (13282748, 12),
 (13305426, 12),
 (13415410, 12),
 (13594409, 12),
 (13656933, 12),
 (13711009, 12),
 (13762124, 12),
 (13870935, 12),
 (13931777, 12),
 (13944265, 12),
 (13980795, 12),
 (14004436, 12),
 (14007589, 12),
 (14018137, 12),
 (14029474, 12),
 (14067967, 12),
 (14108343, 12),
 (14119818, 12),
 (14187001, 12),
 (14226637, 12),
 (14247006, 12),
 (14258949, 12),
 (14267880, 12),
 (14309697, 12),
 (14388050, 12),
 (14500585, 12),
 (14534978, 12),
 (14535212, 12),
 (14550633, 12),
 (14637100, 12),
 (14709655, 12),
 (14808791, 12),
 (14873105, 12),
 (15039574, 12),
 (15133460, 12),
 (15162069, 12),
 (15223781, 12),
 (15360048, 12),
 (15360815, 12),
 (15370871, 12),
 (15426827, 12),
 (15461582, 12),
 (15682570, 12),
 (15751968, 12),
 (15798128, 12),
 (15874317, 12),
 (15885972, 12),
 (15892429, 12),
 (15898924, 12),
 (15944907, 12),
 (15951258, 12),
 (16084602, 12),
 (16094649, 12),
 (16111901, 12),
 (16285590, 12),
 (16291026, 12),
 (16328100, 12),
 (16407286, 12),
 (16417748, 12),
 (16420745, 12),
 (16424079, 12),
 (16425412, 12),
 (16497723, 12),
 (16513166, 12),
 (16535066, 12),
 (16578228, 12),
 (16668491, 12),
 (16823587, 12),
 (16849123, 12),
 (16907124, 12),
 (16939016, 12),
 (16939306, 12),
 (17048990, 12),
 (17354620, 12),
 (17429587, 12),
 (17451713, 12),
 (17523502, 12),
 (17607781, 12),
 (17645274, 12),
 (17653729, 12),
 (17833222, 12),
 (17960078, 12),
 (17978572, 12),
 (18036964, 12),
 (18148297, 12),
 (18202111, 12),
 (18303998, 12),
 (18304932, 12),
 (18322831, 12),
 (18369403, 12),
 (18396526, 12),
 (18525476, 12),
 (18551091, 12),
 (18559699, 12),
 (18600365, 12),
 (18631591, 12),
 (18632748, 12),
 (18701269, 12),
 (18734116, 12),
 (18828251, 12),
 (18851802, 12),
 (18917761, 12),
 (18948084, 12),
 (18962557, 12),
 (19005999, 12),
 (19038275, 12),
 (19065401, 12),
 (19124994, 12),
 (19131752, 12),
 (19270890, 12),
 (19299233, 12),
 (19339564, 12),
 (19372257, 12),
 (19394614, 12),
 (19395626, 12),
 (19570901, 12),
 (19593791, 12),
 (19643838, 12),
 (19694291, 12),
 (19718601, 12),
 (19764408, 12),
 (19765968, 12),
 (19819996, 12),
 (19861211, 12),
 (19906882, 12),
 (19930120, 12),
 (19931382, 12),
 (10003019, 11),
 (10030753, 11),
 (10181023, 11),
 (10223685, 11),
 (10253747, 11),
 (10303503, 11),
 (10387377, 11),
 (10390732, 11),
 (10444484, 11),
 (10455613, 11),
 (10469621, 11),
 (10521730, 11),
 (10634195, 11),
 (10684958, 11),
 (10685894, 11),
 (10702059, 11),
 (10717732, 11),
 (10717916, 11),
 (10834547, 11),
 (10923536, 11),
 (10933872, 11),
 (10942537, 11),
 (10980425, 11),
 (10995547, 11),
 (11006621, 11),
 (11021643, 11),
 (11039058, 11),
 (11052273, 11),
 (11068569, 11),
 (11077662, 11),
 (11098660, 11),
 (11111901, 11),
 (11129856, 11),
 (11188695, 11),
 (11204646, 11),
 (11240827, 11),
 (11290284, 11),
 (11378305, 11),
 (11387638, 11),
 (11418995, 11),
 (11425407, 11),
 (11447083, 11),
 (11546219, 11),
 (11677801, 11),
 (11694406, 11),
 (11717909, 11),
 (11736405, 11),
 (11760589, 11),
 (11885313, 11),
 (11941410, 11),
 (11974151, 11),
 (12162956, 11),
 (12276520, 11),
 (12292383, 11),
 (12304672, 11),
 (12326838, 11),
 (12329981, 11),
 ...]

## Finetuning MedBERT Data Preparation

In [21]:
patients = pd.read_csv(HOSP_FOLDER + "patients.csv.gz", compression="gzip")
print(patients.shape)
patients.head(5)

(315460, 6)

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10000032      F          52         2180       2014 - 2016  2180-09-09
1    10000048      F          23         2126       2008 - 2010         NaN
2    10000068      F          19         2160       2008 - 2010         NaN
3    10000084      M          72         2160       2017 - 2019  2161-02-13
4    10000102      F          27         2136       2008 - 2010         NaN

In [22]:
admissions = pd.read_csv(
    HOSP_FOLDER + "admissions.csv.gz",
    compression="gzip",
    parse_dates=["admittime", "dischtime"],
)
print(admissions.shape)
admissions["admittime"] = pd.to_datetime(admissions["admittime"]).dt.date
admissions["dischtime"] = pd.to_datetime(admissions["dischtime"]).dt.date
admissions = admissions[
    ["subject_id", "hadm_id", "admittime", "dischtime", "hospital_expire_flag"]
]
admissions.head(5)

(454324, 15)

   subject_id   hadm_id   admittime   dischtime  hospital_expire_flag
0    10000032  22595853  2180-05-06  2180-05-07                     0
1    10000032  22841357  2180-06-26  2180-06-27                     0
2    10000032  25742920  2180-08-05  2180-08-07                     0
3    10000032  29079034  2180-07-23  2180-07-25                     0
4    10000068  25022803  2160-03-03  2160-03-04                     0

In [23]:
np.unique(admissions["hospital_expire_flag"])

array([0, 1])

In [24]:
admissions["hospital_expire_flag"].value_counts()

0    445224
1      9100
Name: hospital_expire_flag, dtype: int64

In [25]:
diagnosis = pd.read_csv(HOSP_FOLDER + "diagnoses_icd.csv.gz", compression="gzip")
diagnosis.head(5)
print(len(np.unique(diagnosis["subject_id"])))

190179

In [26]:
diagnosis["diagnosis"] = (
    "ICD"
    + diagnosis["icd_version"].astype(str)
    + "_"
    + diagnosis["icd_code"].astype(str)
)
diagnosis = diagnosis.drop(columns=["icd_code", "icd_version"])
diagnosis.head(5)

   subject_id   hadm_id  seq_num   diagnosis
0    10000032  22595853        1   ICD9_5723
1    10000032  22595853        2  ICD9_78959
2    10000032  22595853        3   ICD9_5715
3    10000032  22595853        4  ICD9_07070
4    10000032  22595853        5    ICD9_496

In [27]:
procedures = pd.read_csv(HOSP_FOLDER + "procedures_icd.csv.gz", compression="gzip")
procedure_number = []
for i in range(procedures.shape[0]):
    procedure_number.append(
        (procedures.hadm_id.values == procedures.loc[i, "hadm_id"]).sum()
    )

procedures["num_prod"] = procedure_number
print("Maximum number of procedures:", max(procedure_number))
print("Minimum number of procedures:", min(procedure_number))
procedures.head()

Maximum number of procedures: 41
Minimum number of procedures: 1

   subject_id   hadm_id  seq_num   chartdate icd_code  icd_version  num_prod
0    10000032  22595853        1  2180-05-07     5491            9         1
1    10000032  22841357        1  2180-06-27     5491            9         1
2    10000032  25742920        1  2180-08-06     5491            9         1
3    10000068  25022803        1  2160-03-03     8938            9         1
4    10000117  27988844        1  2183-09-19  0QS734Z           10         1

In [28]:
procedures = procedures.drop(
    columns=["seq_num", "chartdate", "icd_code", "icd_version"]
)
procedures.head(5)

   subject_id   hadm_id  num_prod
0    10000032  22595853         1
1    10000032  22841357         1
2    10000032  25742920         1
3    10000068  25022803         1
4    10000117  27988844         1

In [29]:
# micro = pd.read_csv(HOSP_FOLDER + "microbiologyevents.csv.gz", compression="gzip")
# micro = micro[micro['interpretation'].notna()]
# micro = micro[(micro["interpretation"] != "P") & (micro["interpretation"] != "I")]
# micro = micro.reset_index(drop = True)

# label_encoder = preprocessing.LabelEncoder()
# micro["interpretation"] = label_encoder.fit_transform(micro["interpretation"])
# micro = micro[micro["ab_name"] == "GENTAMICIN"].reset_index(drop=True)
# # micro = micro[["subject_id", "hadm_id", "interpretation"]]
# print("New shape, dataset of antibiotics:", micro.shape, "\n")
# print("Number of patients:", len(np.unique(micro["subject_id"])), "\n")
# print("Number of admissions:", len(np.unique(micro["hadm_id"])), "\n")

# micro.head()

In [30]:
# micro = micro[["subject_id", "hadm_id", "interpretation"]]

In [31]:
# micro_admin = micro.dropna().reset_index(drop=True)
# micro_admin.shape

In [32]:
# micro_admin.head(5)

In [33]:
# print("New shape, dataset of antibiotics:", micro_admin.shape, "\n")
# print("Number of patients:", len(np.unique(micro_admin["subject_id"])), "\n")
# print("Number of admissions:", len(np.unique(micro_admin["hadm_id"])), "\n")

In [34]:
print("patients size:", patients.shape)
print("admission size:", admissions.shape)
print("diagnosis size:", diagnosis.shape)
print("procedures size:", procedures.shape)
# print("microbiology size:", micro_admin.shape)

patients size: (315460, 6)
admission size: (454324, 5)
diagnosis size: (5006884, 4)
procedures size: (704124, 3)

In [35]:
trial_0 = admissions.merge(diagnosis, on=["subject_id", "hadm_id"])
trial_0.shape

(5006884, 7)

In [36]:
trial_1 = pd.merge(trial_0, procedures, on=["subject_id", "hadm_id"], how="inner")
print("Shape", trial_1.shape, "\n")
trial_1.head(5)

Shape (10241881, 8)

,subject_id,hadm_id,admittime,dischtime,hospital_expire_flag,seq_num,diagnosis,num_prod
0,10000032,22595853,2180-05-06,2180-05-07,0,1,ICD9_5723,1
1,10000032,22595853,2180-05-06,2180-05-07,0,2,ICD9_78959,1
2,10000032,22595853,2180-05-06,2180-05-07,0,3,ICD9_5715,1
3,10000032,22595853,2180-05-06,2180-05-07,0,4,ICD9_07070,1
4,10000032,22595853,2180-05-06,2180-05-07,0,5,ICD9_496,1

In [37]:
trial_1 = trial_1.drop_duplicates().reset_index(drop=True)
print("Shape", trial_1.shape, "\n")

Shape (2963978, 8)

In [38]:
# trial_2 = pd.merge(trial_1, micro_admin, on=['subject_id', "hadm_id"], how = "inner")
# trial_2

In [39]:
trial_1 = trial_1.drop_duplicates()
print("Shape of finetuning dataset:", trial_1.shape)
print("Number of patients:", len(np.unique(trial_1["subject_id"])), "\n")
print("Number of admissions:", len(np.unique(trial_1["hadm_id"])), "\n")

Shape of finetuning dataset: (2963978, 8)
Number of patients: 128256

Number of admissions: 241334

In [40]:
cols = [
    "subject_id",
    "admittime",
    "dischtime",
    "hospital_expire_flag",
    "diagnosis",
    "seq_num",
    "num_prod",
]
df = trial_1[cols]

In [41]:
df.to_csv(
    ROOT_PATH + "data/finetuning_mortality/mortality_finetunining_dataset.csv",
    sep="\t",
    index=False,
)

In [42]:
df.head(5)

,subject_id,admittime,dischtime,hospital_expire_flag,diagnosis,seq_num,num_prod
0,10000032,2180-05-06,2180-05-07,0,ICD9_5723,1,1
1,10000032,2180-05-06,2180-05-07,0,ICD9_78959,2,1
2,10000032,2180-05-06,2180-05-07,0,ICD9_5715,3,1
3,10000032,2180-05-06,2180-05-07,0,ICD9_07070,4,1
4,10000032,2180-05-06,2180-05-07,0,ICD9_496,5,1

In [43]:
df["hospital_expire_flag"].value_counts()

0    2796577
1     167401
Name: hospital_expire_flag, dtype: int64